.container {
  width: 80%;
  height: 50%;
  line-height: 3rem;
  margin: 4%;
  padding: 2%;
  border: 2px solid grey;
}

.nameBox {
  margin-left: 1rem;
  height: 2rem;
  width: 14rem;
  border-radius: 4px;
  text-indent: 1rem;
  font-weight: bold;
  font-size: 18px;
  border-style: groove;
}
.buttons {
  margin-top: 3px;
  padding: 3px;
  margin-left: 10rem;
  width: 6rem;
  font-size: 16px;
}

.displayGreeting {
  text-indent: 22rem;
  line-height: 4.5rem;
  font-size: 2.5rem;
}
.languages {
  margin-left: 160px;
}
